demos/assets/compos/hdri/helipad-env.ktx2 filter=lfs diff=lfs merge=lfs -text
demos/assets/compos/hdri/helipad-spe.ktx2 filter=lfs diff=lfs merge=lfs -text
demos/assets/compos/hdri/helipad-dif.ktx2 filter=lfs diff=lfs merge=lfs -text
